#map {
    height: 100vh;
}

#Countries {
    position: fixed;
    top: 3%;
    left: 6rem;
    z-index: 1;
}

#newsInfo {
    height: 100%;
    width: 100%;
}

#cI {
    position: fixed;
    top: 6rem;
    left: 1%;
    z-index: 1;
}

#fI {
    position: fixed;
    top: 10rem;
    z-index: 1;
}

#flagImage {
    height: 100%;
    width: 100%;
}

#nav {
    position: absolute;
    z-index: 1000;
}