#map {
    height: 100vh;
}

#Countries {
    position: fixed;
    top: 3%;
    left: 50%;
    z-index: 1;
}

#cI {
    position: fixed;
    top: 10%;
    left: 1%;
    z-index: 1;
}

#fI {
    position: fixed;
    top: 15%;
    z-index: 1;
}

#flagImage {
    height: 100%;
    width: 100%;
}