#map {
    height: 100vh;
}

#Countries {
    position: fixed;
    top: 1%;
    left: 50%;
    z-index: 1;
    align-content: center;
}



#cI {
    position: fixed;
    top: 6rem;
    left: 1%;
    z-index: 1;
}

#fI {
    position: fixed;
    top: 10rem;
    z-index: 1;
}

#flagImage {
    height: 100%;
    width: 100%;
}

#nav {
    position: absolute;
    z-index: 1000;
}

#countryHeader {
    background-color: red;
}

#weatherHeader {
    background-color: cornflowerblue;
}

#wI {
    color: cornflowerblue;
}

#weatherBody {
    background-image: url('th-3039824414.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#covidHeader {
    background-color: seagreen;
}

#newsHeader {
    background-color: lightgoldenrodyellow;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#page {
    opacity: 0;
    transition: opacity .5s;
}

#page.ready {
    opacity: 1;
}

.data {
    text-align: right;
}

#row1 {
    background-color: antiquewhite;
}

#row2 {
    background-color: ghostwhite;
}

#table {
    width: 100%;
    height: 100%;
}

#Weather {
    width: 100%;
    height: 100%;
}